*,
*::before,
*::before {
  box-sizing: border-box;
  margin: 0;
}
body {
  background: #555;
}
.chart-wrapper {
  width: 80%;
  height: 100%;
  background: rgb(248, 229, 177);
  margin: auto;
}
.chart-wrapper div {
  height: 40px;
  border: 1px solid rgba(102, 4, 69, 0.1);
  margin-bottom: 3px;
  line-height: 38px;
  font-weight: bolder;
  color: rgba(255, 230, 255, 1);
}
.bar-graph {
  text-align: right;
  padding-right: 10px;
}
.histograph {
  width: 40px;
  display: inline-block;
  margin-left: 3px;
  position: relative;
  text-align: center;
}
.histograph:hover {
  -webkit-transform: scaleX(1.075);
  transform: scaleX(1.075);
}
.bar-graph:hover {
  -webkit-transform: scaleY(1.075);
  transform: scaleY(1.075);
}

.buttons {
  margin: auto;
  text-align: center;
  padding: 5px;
}
button {
  width: 120px;
  height: 40px;
  border: 1px solid #888;
  outline: none;
  background: rgb(248, 229, 177);
  font-size: 18px;
  font-weight: bolder;

}
button:focus {
  outline: none;
}
.active {
  border-bottom: 3px solid orangered;
  background: orange;
  color: white;
}
