/*===GENERAL===*/
*,
*::before,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*=== MAIN ===*/
main {

  margin: auto;
  text-align: center;

}

.chart-wrapper {
  min-height: 25vh;
  box-shadow: 1px 1px 20px 10px rgb(7, 7, 7);
  box-shadow: 1px 1px 20px 10px rgb(235, 230, 230);
  box-shadow: 1px 1px 8px 5px rgba(0, 0, 0, 0.3);
  height: 100%;
  padding: 15px;
  margin: auto;
  width: 75%;
  line-height: 35vh;
}

.chart-wrapper div {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: #333;
  font-size: 20px;
  height: 50px;
  line-height: 48px;
  margin-bottom: 5px;

}

.bar-graph {
  padding-right: 10px;
  text-align: right;
  font-family: 'Lato';
  font-weight: 300;

}

.histograph {
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  display: inline-block;
  margin-left: 5px;
  position: relative;
  text-align: center;
  width: 50px;
  font-family: 'Lato';
  font-weight: 300;
}

.histograph:hover {
  transform: scaleX(1.075);
  -webkit-transform: scaleX(1.075);
}

.bar-graph:hover {
  transform: scaleY(1.075);
  -webkit-transform: scaleY(1.075);
}

.buttons {
  padding: 5px;
  margin: 10px auto;
  text-align: center;
}

button {

  background: rgb(255, 165, 0);
  border: 1px solid #ffa500;
  border-radius: 2px;
  font-size: 18px;
  height: 40px;
  margin: 0 1px 0 1px;
  outline: none;
  transition: 0.5s ease all;
  width: 120px;
  font-family: 'Lato';
  font-weight: 400;
}

button:focus {
  outline: none;
}

.active {
  background: orange;
  border-bottom: 3px solid rgb(255, 69, 0);
  color: white;
}