/*===GENERAL===*/
*,
*::before,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*=== MAIN ===*/
main {
  margin: auto;
  text-align: center;
}
.chart-wrapper {
  box-shadow: 0px 0px 6px 1px rgb(235, 230, 230);
  height: 100%;
  padding: 5px;
  margin: auto;
  width: 80%;
}
.chart-wrapper div {
  border: 1px solid rgba(102, 4, 69, 0.1);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  color: #333;
  font-size: 18px;
  font-weight: 400;

  height: 40px;
  line-height: 38px;
  margin-bottom: 5px;
}
.bar-graph {
  padding-right: 10px;
  text-align: right;
}
.histograph {
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  display: inline-block;
  margin-left: 3px;
  position: relative;
  text-align: center;
  width: 40px;
}
.histograph:hover {
  transform: scaleX(1.075);
  -webkit-transform: scaleX(1.075);
}
.bar-graph:hover {
  transform: scaleY(1.075);
  -webkit-transform: scaleY(1.075);
}

.buttons {
  padding: 5px;
  margin: auto;
  text-align: center;
}
button {
  background: #ffa500;
  border: 1px solid #ffa500;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 100;
  height: 40px;
  margin: 0 1px 0 1px;
  outline: none;
  transition: 0.3s ease all;
  width: 120px;
}
button:focus {
  outline: none;
}
.active {
  background: orange;
  border-bottom: 3px solid rgb(255, 69, 0);
  color: white;
}
